/*----- COLORS -----*/
:root {
    --background: #EEEDE7;
    --accent:  #D75338;
    --dark: #3C3C32;
}

/*----- FONTS -----*/
@font-face {
    font-family: mooli;
    src: url('../fonts/Mooli-Regular.ttf');
}

@font-face {
    font-family: archivo;
    src: url('../fonts/ArchivoBlack-Regular.ttf');
}

@font-face {
    font-family: source code pro;
    src: url('../fonts/SourceCodePro-VariableFont_wght.ttf');
}

/*----- CAROUSEL -----*/
.css-carousel {
    /* outline: red dashed 3px; */
    border: var(--accent) dashed 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.css-card {
    /* outline: green dashed 3px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/*----- HEADER -----*/
.css-header {
    /* outline: orange dashed 3px; */
    font-family: archivo;
    font-size: 20px;
    text-align: center;
}

h3 {
    /* outline: green dashed 3px; */
    border: var(--accent) solid 3px;
    border-radius: 5px;
    background-color: var(--background);
    color: var(--accent);
    margin: -35px 0 5px 0;
    padding: 0 10px 0 10px;
}

/*----- DETAILS -----*/
.css-details {
    /* outline: purple dashed 3px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--dark);
    text-align: center;
    width: 100%;
    height: 100px;
}

/*----- DOCS -----*/
.css-details button {
    background-color: var(--background);
    border: none;
}

.css-details button a {
    color: var(--dark);
}

/*----- CODE -----*/
.css-code {
    /* outline: purple dashed 3px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: source code pro;
    font-size: 16px;
    background-color: var(--dark);
    color: whitesmoke;
    margin: 20px 0 20px 0;
    width: 95%;
    height: 175px;
}

/*----- BUTTONS -----*/
.carousel-buttons button {
    font-size: 25px;
    color: var(--dark);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    /* border: var(--accent) solid 2px;
    border-radius: 50%; */
}