/*----- COLORS -----*/
:root {
  --background: #EEEDE7;
  --accent: #D75338;
  --dark: #3C3C32;
}

/*----- FONTS -----*/
@font-face {
  font-family: mooli;
  src: url('../fonts/Mooli-Regular.ttf');
}

@font-face {
  font-family: archivo;
  src: url('../fonts/ArchivoBlack-Regular.ttf');
}